- form_for (:fsimage, :url => '/admin/fsimages/create', :html => {:multipart => true}) do |f|
  Upload Images
  = f.file_field :fsimage
  = f.submit "Upload"

%ul#image-list
  - @fsimages.each do |fsimage|
    %li{ :class => "position_#{fsimage.position}", :id => "fsimage_#{fsimage.id}" }
      = link_to "#{image_tag("admin/icons-small/delete.png")}", "/admin/fsimages/remove/#{fsimage.id}", :confirm => "Are you sure you want to delete this fsimage?"
      %br
      = image_tag fsimage.fsimage.url(:thumb)

= sortable_element 'image-list', :url => "/admin/fsimages/update_positions/#{params[:id]}", :constraint => false, :complete => visual_effect(:highlight, 'image-list')
%hr